.confirmation-list
{
    .bold
    {
        font-weight: 600;
    }
}

.place-order-btn
{
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

.total
{
    float: right;
    padding: 5%;
    color: #666666;
    font-weight: 600;
}