.avatar
{
    width: 50%;
    height: 100%;
    margin: 0% 25%;
}

.edit-icon
{
    float: right;
    padding: 4px;
    border-radius: 50%
}

.divider
{
    ion-label
    {
        line-height: 31px;
    }
}